# Delphi - Arquivos temporários e de compilação
*.dcu
*.~*
*.ddp
*.dof
*.bak
*.local
*.identcache
*.projdata
*.tvsconfig
*.stat

# Arquivos de configuração pessoal do usuário (histórico e layout do IDE)
*.vlb
*.deployproj
*.o
*.ow
*.ox
*.res
# Nota: Remova o '*.res' acima se o arquivo de recurso principal do seu projeto (.res) 
# for gerado automaticamente pelo Delphi e essencial para compilar.

# Pastas de saída de binários (Executáveis e DLLs)
# Ajuste se você usa caminhos customizados para salvar os .exe
__recovery/
__history/
ModelSupport_*/
Win32/
Win64/
Android/
Android64/
iOSDevice32/
iOSDevice64/
iOSSimulator/
OSX32/
OSX64/
OSXARM64/
Linux64/
Análise/
Arquivo Morto/

# Arquivos de log e mapeamento
*.map
*.drc

# Arquivos de bancos de dados locais de teste (opcional)
*.sqlite
*.db
/*.~dsk
